body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#questionContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}